  .modal {
    & p {
    background: red;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 100vh;
  }
  }

  a {
    color: rgb(0 0 100% / 90%);
  
    &:hover {
      color: rebeccapurple;
    }
  }
  .foo {
    color: red;
    @nest .parent & {
      color: blue;
    }
  }